$baseColor: #398b93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;
:root {
  --full-width: 100;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: lighten($baseColor, 80%);
}
h1 {
  color: white;
  text-align:center;
  margin:0;
  font-size: 3em;
}
.site-header {
  background: linear-gradient(181deg, darken($baseColor, 20%) 0%, $baseColor 48%, lighten($baseColor, 20%) 100%);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  height: 10%;
  display: flex;
  justify-content: center; 
  align-items: center;
}



.panel {
  margin-top: 20px;
  display: flex;
  gap: 5em
}
.left-section {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1em;
 }

.plus {
  color: green;
}
.plus:hover {
  cursor: pointer;
}
.minus {
  color: red;
}
.minus:hover {
  cursor: pointer;
}
.moveup:hover {
  cursor: pointer;
}
.movedown:hover {
  cursor: pointer;
}
.data-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: lighten($baseColor, 50%);
  grid-area: data;
  width: 50vw;
  height: 10vw;
  margin-right: 2em;
  border: 1px solid darken($baseColor, 5%);
  border-radius: $borderRadius;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
}

.data-left,
.data-right {
  flex: 1;
}

.data-left {
  margin-right: 20px;
}
.data-left div {
  margin-bottom: 20px;
}
.data-right ul {
  list-style-type: none;
  padding: 0;
}

.data-left div,
.data-right li {
  font-size: 16px;
  line-height: 1.5;
}

.data-left strong,
.data-right strong {
  font-weight: bold;
}
.config-width-height {
  margin-top: 2em;
   background-color: darken($baseColor, 5%);
   color: white;
   font-size: 1em;
   width: calc(50vw * var(--full-width) / 100);
   border: 1px solid darken($baseColor, 5%);
   border-radius: $borderRadius;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
}
label {
  padding: $padding;
}
.display-section {
  width: calc(50vw * var(--full-width) / 100);
  height: 10vw;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  background-color: lighten($baseColor, 50%);
  margin-right: 2em;
}
.brick {
  height: 40%;
  border: 1px solid black;
  margin: 5px;
  font-size: 7px;
  text-wrap: wrap;
  font-weight: 600;
  color: white;
  text-align: center;
  align-content: center;
}
.mega2xl {
  width: calc(40 / var(--full-width) * 100%);
   background: linear-gradient(135deg, $baseColor, mix($baseColor, rgb(175, 5, 5), 50%));
}
.mega2 {
  width: calc(30 / var(--full-width) * 100%);
   background: linear-gradient(135deg, $baseColor, mix($baseColor, rgb(45, 19, 87), 50%));

}
.mega {
  width: calc(30 / var(--full-width) * 100%);
  background: linear-gradient(135deg, $baseColor, mix($baseColor, rgb(240, 6, 240), 50%));

}
.power {
  width: calc(10 / var(--full-width) * 100%);
   background: linear-gradient(135deg, $baseColor, mix($baseColor, rgb(243, 242, 244), 50%));

}
.transform {
  width: calc(10 / var(--full-width) * 100%);
  background: linear-gradient(135deg, $baseColor, mix($baseColor, rgb(250, 250, 19), 50%));

}
.highlight {
  font-weight: 600;
}
.highlight > .data-cell {
  background-color: yellow;
}

.selectedBrick {
  border: 2px solid yellow;
  animation: flowingBorder 2s infinite;
}

@keyframes flowingBorder {
  0% {
    border-color: yellow;
    box-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow,
      0 0 20px yellow;
  }
  50% {
    border-color: transparent;
    box-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow,
      0 0 20px yellow;
  }
  100% {
    border-color: yellow;
    box-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow,
      0 0 20px yellow;
  }
}
